<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <title>Configurações</title>
</head>
<body id="productsBody">
  <header class="homeHeader">
    <nav>
      <ul class="navbarLinks">

        <li><a href="/clientes/dashboard"><input class="headerButtons" type="button" value="Voltar"></a></li>
        <li><a href="/clientes/logout"><input class="headerButtons" type="button" value="Logout"></a></li>

      </ul>
    </nav>
  </header>


  <main class="productFormBox">
    <div class="productFormBody">
      <form action="/clientes/edit/<%= user.cpf_cnpj %>" method="post">
        <input type="text" value="<%= user.name %>" step="any" name="name" class="productForm" placeholder=" Nome" title="Digite seu NOME." required>
        <br>
        <input type="text" value="<%= user.email %>" step="any" name="email" class="productForm" placeholder=" Email" title="Digite seu EMAIL." required>
        <br>
        <input type="password" value="<%= user.password %>" step="any" name="password" class="productForm" placeholder=" Senha" title="Digite sua SENHA." required>
        <br>
        <input id="userLoginButton" type="submit" value="Editar Dados">
        <br>
        <a href="delete/<%= user.cpf_cnpj %>"><input id="userLoginButton" type="button" value="Deletar Conta"></a>
      </form>
    </div>
  </main>

</body>